* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);
}

.top {
  background-color: #E1FF8F;
  padding-top: 196px;
  padding-bottom: 156px;
  background-image: url(image/stars/top/big-star-top.svg);
  background-repeat: no-repeat;
  background-position: 854px calc(100% + 90px);
}
.top__content {
  position: relative;
  max-width: 768px;
}
.top__title {
  color: #202027;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 24px;
}
.top__text {
  color: #202027;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
  max-width: 720px;
}
.top__link-go {
  display: inline-block;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 142%;
  text-decoration: none;
  padding: 16px 65px;
  background-color: #202027;
  border-radius: 60px;
}
.top__link-go:hover {
  color: #202027;
  background-color: #FFFFFF;
  border: 1px solid #202027;
}
.top__star-left-green {
  position: absolute;
  top: -102px;
  left: -57px;
}
.top__star-left-transparent {
  position: absolute;
  top: -127px;
  left: 36px;
}
.top__star-right-green {
  position: absolute;
  bottom: -16px;
  right: -97px;
}
.top__star-right-transparent {
  position: absolute;
  bottom: -97px;
  right: -208px;
}
.top__star-big-mobile {
  transform: rotate(108deg);
  position: absolute;
  top: 0;
  right: 0;
}

.nav {
  display: flex;
  gap: 51px;
  background-color: #BCEC30;
  padding: 27px 0px;
  overflow: hidden;
}
.nav__item {
  display: flex;
  gap: 51px;
  flex-shrink: 0;
}
.nav__text {
  color: #202027;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}

.about-games {
  background-color: #202027;
  padding-top: 94px;
  padding-bottom: 50px;
  border-bottom: 1px solid #E1FF8F;
}
.about-games__content {
  position: relative;
  z-index: 1;
}
.about-games__title {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 24px;
}
.about-games__text {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 62px;
}
.about-games .games {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.about-games .games__link {
  text-decoration: none;
}
.about-games .games__item {
  background-color: #FFFFFF;
  border-radius: 30px;
  /*&_small {
      height: 473px;
  }
  &_middle {
      height: 512px;
  }
  &_big {
      height: 551px;
  }*/
}
.about-games .games__image {
  border-radius: 30px;
  width: 378px;
  height: 314px;
  background-color: #E1FF8F;
}
.about-games .games__description {
  padding: 32px 32px 36px 32px;
}
.about-games .games__number {
  max-width: 80px;
  color: #202027;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  border-radius: 52px;
  background: rgb(247, 247, 247);
  padding: 10px 16px;
}
.about-games .games__name {
  color: #202027;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}
.about-games__star-little {
  position: absolute;
  left: -91px;
  top: 650px;
}
.about-games__star-middle {
  position: absolute;
  left: -74px;
  top: 715px;
}
.about-games__star-big {
  position: absolute;
  right: -262px;
  top: -17px;
  z-index: -1;
}

.mini-games {
  background-color: #202027;
  padding-top: 46px;
  padding-bottom: 144px;
}
.mini-games__content {
  position: relative;
}
.mini-games__title {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 72px;
}
.mini-games__games {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.mini-games__item {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 30px;
}
.mini-games__item_reverse {
  flex-direction: row-reverse;
}
.mini-games__img {
  border-radius: 30px;
}
.mini-games__description {
  background-color: #FFFFFF;
  padding: 48px 48px 48px 48px;
  flex-grow: 1;
  border-radius: 30px;
}
.mini-games__name {
  color: #202027;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  margin-bottom: 24px;
}
.mini-games__text {
  color: #202027;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 36px;
}
.mini-games__link {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-decoration: none;
  background-color: #202027;
  padding: 16px 75px;
  border-radius: 60px;
}
.mini-games__link:hover {
  color: #202027;
  background-color: #FFFFFF;
  border: 1px solid #202027;
}
.mini-games__star-top-little {
  position: absolute;
  top: 47px;
  right: 0px;
}
.mini-games__star-top-middle {
  position: absolute;
  top: 80px;
  right: -70px;
}
.mini-games__star-bottom-little {
  position: absolute;
  bottom: -99px;
  right: 29px;
}
.mini-games__star-bottom-middle {
  position: absolute;
  bottom: -79px;
  right: -70px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    padding-top: 147px;
    padding-bottom: 131px;
    background-image: url(image/stars/top/star-big-top-mobile.svg);
    background-repeat: no-repeat;
    background-position: 215px -85px;
  }
  .top__title {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    padding: 0px 40px;
  }
  .top__text {
    font-size: 16px;
    line-height: 20px;
    padding: 0px 23px;
    margin-bottom: 36px;
  }
  .top__link-go {
    font-size: 16px;
    padding: 16px 103px;
    margin: 0px 29px;
  }
  .top__star-left-green {
    position: absolute;
    width: 35px;
    height: 35px;
    top: -50px;
    left: 20px;
  }
  .top__star-left-transparent {
    position: absolute;
    width: 21px;
    height: 21px;
    top: -83px;
    left: 74px;
  }
  .top__star-right-green {
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: -57px;
    right: 70px;
  }
  .top__star-right-transparent {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -102px;
    right: 18px;
  }
  .nav {
    padding: 17px 0px;
  }
  .nav__text {
    font-size: 16px;
  }
  .nav__img-star {
    width: 19px;
    height: 19px;
  }
  .about-games {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */