$colorBlack: #202027;
$colorGreen: #BCEC30;
$colorLightGreen: #E1FF8F;
$colorWhite: #FFFFFF;

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
}

.top {
    background-color: $colorLightGreen;
    padding-top: 196px;
    padding-bottom: 156px;
    background-image: url(image/stars/top/big-star-top.svg);
    background-repeat: no-repeat;
    background-position: 854px calc(100% + 90px);

    &__content {
        position: relative;
        max-width: 768px;
    }

    &__title {
        color: $colorBlack;

        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        margin-bottom: 24px;
    }

    &__text {
        color: $colorBlack;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 48px;
        max-width: 720px;
    }

    &__link-go {
        display: inline-block;
        color: $colorWhite;
        font-size: 24px;
        font-weight: 600;
        line-height: 142%;
        text-decoration: none;

        padding: 16px 65px;
        background-color: $colorBlack;
        border-radius: 60px;
        border: 1px solid $colorBlack;

        &:hover {
            color: $colorBlack;
            background-color: $colorWhite;
        }

        &_mini-games {
            display: none;
        }
    }

    &__star-left-green {
        position: absolute;
        top: -102px;
        left: -57px;
    }

    &__star-left-transparent {
        position: absolute;
        top: -127px;
        left: 36px;
    }

    &__star-right-green {
        position: absolute;
        bottom: -16px;
        right: -97px;
    }

    &__star-right-transparent {
        position: absolute;
        bottom: -97px;
        right: -208px;
    }

    &__star-big-mobile {
        transform: rotate(108deg);
        position: absolute;
        top: 0;
        right: 0;
    }
}

.nav {
    background-color: $colorGreen;
    padding: 27px 0px;
    overflow: hidden;

    &__content {
        display: flex;
        gap: 51px;
        width: fit-content;
        animation: marquee 30s linear forwards infinite;
    }

    &__item {
        display: flex;
        gap: 51px;
        flex-shrink: 0;
        white-space: nowrap;
    }

    &__text {
        color: $colorBlack;
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        text-transform: uppercase;
    }

}

.about-games {
    background-color: $colorBlack;
    padding-top: 94px;
    padding-bottom: 50px;
    border-bottom: 1px solid $colorLightGreen;
    overflow: hidden;

    &__content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: $colorWhite;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        margin-bottom: 24px;
    }

    &__text {
        color: $colorWhite;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 72px;
    }

    .games {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;

        &__link {
            text-decoration: none;
        }

        &__item {
            display: flex;
            flex-direction: column;
            background-color: $colorWhite;
            border-radius: 30px;

            &_big {
                margin-top: -39px;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        &__image {
            border-radius: 30px;
            width: 378px;
            height: 314px;
            background-color: #E1FF8F;
        }

        &__description {
            padding: 32px 32px 36px 32px;
        }

        &__number {
            max-width: 80px;
            color: $colorBlack;
            font-size: 16px;
            font-weight: 500;
            line-height: 110%;

            border-radius: 52px;
            background: rgb(247, 247, 247);
            padding: 8px 16px 10px 16px;
            margin-bottom: 16px;
        }

        &__name {
            color: $colorBlack;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
        }
    }

    &__star-little {
        position: absolute;
        left: -91px;
        top: 650px;
    }

    &__star-middle {
        position: absolute;
        left: -74px;
        top: 715px;
    }

    &__star-big {
        position: absolute;
        right: -262px;
        top: -17px;
        z-index: -1;
    }
}

.mini-games {
    background-color: $colorBlack;
    padding-top: 46px;
    padding-bottom: 144px;
    overflow: hidden;

    &__content {
        position: relative;
    }

    &__title {
        color: $colorWhite;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        margin-bottom: 72px;
    }

    &__games-box {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }

    .game-mini-games {
        display: flex;
        background-color: $colorWhite;
        border-radius: 30px;

        &_reverse {
            flex-direction: row-reverse;
        }

        &__img {
            border-radius: 30px;
        }

        &__description {
            background-color: $colorWhite;
            padding: 48px 48px 48px 48px;
            flex-grow: 1;
            border-radius: 30px;
        }

        &__name {
            color: $colorBlack;
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            margin-bottom: 24px;
        }

        &__text {
            color: $colorBlack;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            margin-bottom: 36px;
        }

        &__link {
            display: inline-block;
            color: $colorWhite;
            font-size: 24px;
            font-weight: 600;
            line-height: 141.69%;
            text-decoration: none;

            background-color: $colorBlack;
            padding: 16px 75px;
            border-radius: 60px;

            &:hover {
                color: $colorBlack;
                background-color: $colorWhite;
                border: 1px solid $colorBlack;
            }
        }
    }

    &__star-top-little {
        position: absolute;
        top: 47px;
        right: 0px;
    }

    &__star-top-middle {
        position: absolute;
        top: 80px;
        right: -70px;
    }

    &__star-bottom-little {
        position: absolute;
        bottom: -99px;
        right: 29px;
    }

    &__star-bottom-middle {
        position: absolute;
        bottom: -79px;
        right: -70px;
    }
}

.footer {
    background-color: $colorGreen;
    padding: 60px 0px;

    &__text {
        color: $colorBlack;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        text-align: center;
    }
}


@import "tablet1199";
@import "tablet1024";
@import "mobile";