@media (max-width: 1199px) {

    
    .top {
        background-image: none;
    }

    .about-games {
        .games {
            justify-content: space-around;

            &__item_big {
                margin-top: 0px;
            }
        }
    }
}